body {
  background-color: #000;
}

.blendMul {
  mix-blend-mode: overlay;
}

.dayPrice {
  list-style-type: none;
}

.priceChange {
  font-size: 16px;
  font-weight: bold;
}

.readMaxLength {
  max-width: 650px;
  margin: 0 auto;
}
